@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #edf2f8;
    scroll-behavior: smooth;
}

header {
    /* position: fixed; */
}

header nav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #edf2f8;
    box-shadow: 1px 1px 10px #8a979f;
    /* position: fixed; */
    width: 100%;
    /* top: 0; */
}

header nav .logo {}

header nav .logo h1 {
    font-family: Jost;
    color: #939cb8;
    /* text-shadow: 1px 1px 1px #4d546b; */
}

header nav .nav-items {
    width: max-content;
}

header nav .nav-items ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: max-content;
}

header nav .nav-items ul li {
    margin-right: 6%;
    border-radius: 10px;
    transition: 0.5s;
    padding: 5px 8px;
    cursor: pointer;
}

header nav .nav-items ul li:hover {
    transition: 0.5s;
    background: #d7e3ee;
}

header nav .nav-items ul li a {
    font-family: Jost;
    color: grey;
    text-transform: uppercase;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.container {
    /* position: absolute; */
}

.container#home {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 848px;
    box-shadow: 1px 1px 8px #edf2f8;
    background: #edf2f8;
}

.container#home .home {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: max-content;
    animation-name: namebox1;
    animation-duration: 2s;
    position: relative;
    top: 20%;
    left: 20%;
}

.container#home .home .namebox {
    width: max-content;
    display: flex;
    flex-direction: column;
    /* transform: translate(162px, 102px); */
    padding: 1rem 2rem;
    border-radius: 9px;
    box-shadow: 1px 1px 10px #d1d6d9;
    background: white;
}

.container#home .home .namebox span {
    font-family: system-ui;
    color: #bebaba;
}

.container#home .home .namebox label {
    font-family: 'Jost';
    font-size: 65px;
    font-weight: 900;
}

.container#home .home .namebox:nth-child(2) {
    margin-top: 10%;
    padding: font-size;
    font-size: 19px;
}

.container#home .home .namebox:nth-child(2) small {
    font-family: 'Jost';
    font-weight: 600;
    color: #b2b2b2;
}

.container#about {
    display: flex;
    flex-direction: row;
    padding: 76px;
    /* background: white; */
}

.container#about .about {
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-name: about;
    position: relative;
}

.container#about .about h1 {
    font-family: 'Jost';
    font-size: 51px;
    color: #748396;
}

.container#about .about p {
    font-family: system-ui;
    ;
    font-weight: 600;
    color: #5c8396;
    width: 73%;
    font-size: 23px;
}

.container#about .profileimg {
    position: relative;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-name: aboutimg;
    box-sizing: border-box;
    /* border-style: solid; */
    border-radius: 100%;
    box-shadow: 0px 1px 13px #a6b4c5;
    border-color: #a6b4c5;
    background: transparent;
}

.container#about .profileimg img {
    height: 610px;
    width: 610px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0px 1px 19px #a6b4c5;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #dee5ed;
    border-radius: 51% 49% 100% 0% / 100% 100% 0% 0%;
    padding: 32px 0px;
}

footer span a {
    color: #5494b7;
    font-family: 'Jost';
    letter-spacing: 1px;
    font-weight: 800;
}

footer ul a {
    margin: 3%;
}

footer ul {
    list-style: none;
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
}

footer ul li {
    padding: 10px;
    background: white;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #646c7b;
    transition: 0.4s;
}

footer ul li:hover {
    color: white;
    background: #646c7b;
    transition: 0.4s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.content {
    padding-top: 60px;
}

@keyframes about {
    from {
        left: -50%;
        opacity: 0;
    }
    to {
        left: 0%;
        opacity: 1;
    }
}

@keyframes aboutimg {
    from {
        right: -50%;
        opacity: 0;
    }
    to {
        right: 0%;
        opacity: 1;
    }
}

@keyframes namebox1 {
    from {
        top: -120%;
        left: -120%;
        opacity: 0;
    }
    to {
        top: 20%;
        left: 20%;
        opacity: 1;
    }
}

header nav .menubar {
    position: absolute;
    right: 10px;
    flex-direction: column;
    align-items: flex-end;
    display: none;
    cursor: pointer;
}

header nav .menubar:hover .bar:nth-child(1) {
    width: 30px;
    transition: 0.5s;
}

header nav .menubar:hover .bar:nth-child(2) {
    width: 30px;
    transition: 0.3s;
}

header nav .menubar .bar {
    padding: 1.5px;
    background: #939cb8;
    margin-top: 24%;
    width: 30px;
    border-radius: 19px;
    transition: 0.3s;
}

header nav .menubar .bar:nth-child(1) {
    width: 20px;
}

header nav .menubar .bar:nth-child(2) {
    width: 25px;
}

header nav .menubar .bar:nth-child(3) {}

@media screen and (max-width: 900px) {
    header nav .nav-items {
        display: none;
    }
    header nav {
        justify-content: space-between;
    }
    header nav .menubar {
        display: flex;
    }
    .container#home .home .namebox label {
        font-size: 40px;
    }
    .container#home .home {
        animation-name: namebox1;
        animation-duration: 2s;
        top: 18%;
        left: 9%;
    }
    footer {
        padding: 59px 0px;
        padding-bottom: 10px;
    }
    footer span a {
        font-size: 13px;
    }
    @keyframes namebox1 {
        from {
            top: -120%;
            left: -120%;
            opacity: 0;
        }
        to {
            top: 18%;
            left: 9%;
            opacity: 1;
        }
    }
}