html,
.preloadbody {
    background: transparent;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.preloader {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    /* filter: blur(10px) contrast(20); */
}

.blob-1,
.blob-2 {
    width: 70px;
    height: 70px;
    position: absolute;
    background: #52749b;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px #a6c1dc;
}

.blob-1 {
    left: 20%;
    animation: osc-l 3.5s ease infinite;
}

.blob-2 {
    left: 80%;
    animation: osc-r 3.5s ease infinite;
    background: #adc6e2;
}

@keyframes osc-l {
    0% {
        left: 20%;
    }
    50% {
        left: 50%;
    }
    100% {
        left: 20%;
    }
}

@keyframes osc-r {
    0% {
        left: 80%;
    }
    50% {
        left: 50%;
    }
    100% {
        left: 80%;
    }
}