<body class="cursor-effect personal-page">

    <!-- ========== Start Cursor ========== -->

    <div id="cursor">
        <div id="circle"></div>
    </div>
    <!-- ========== End Cursor ========== -->

    <!-- ========== Start Preloader ========== -->

    <div class="preloader">
        <div class="blob-1"></div>
        <div class="blob-2"></div>
    </div>
    <!--========== Start Animation ==========-->
    <div class="blob">
        <!-- This SVG is from https://codepen.io/Ali_Farooq_/pen/gKOJqx -->
        <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 350">
        <path d="M156.4,339.5c31.8-2.5,59.4-26.8,80.2-48.5c28.3-29.5,40.5-47,56.1-85.1c14-34.3,20.7-75.6,2.3-111  c-18.1-34.8-55.7-58-90.4-72.3c-11.7-4.8-24.1-8.8-36.8-11.5l-0.9-0.9l-0.6,0.6c-27.7-5.8-56.6-6-82.4,3c-38.8,13.6-64,48.8-66.8,90.3c-3,43.9,17.8,88.3,33.7,128.8c5.3,13.5,10.4,27.1,14.9,40.9C77.5,309.9,111,343,156.4,339.5z"/>
        </svg>
    </div>

    <!--==========End Preloader==========-->

    <!-- ========== Start Navbar ========== -->

    <div class="navbar site-navbar">
        <div class="navbar-content  d-flex w-100 align-items-center justify-content-between">
            <div class="logo-content ">
                <div class="logo">
                    <a href="/">
                        <img src="assets/images/icons/teddy.png" alt="teddy oweh logo">
                    </a>
                </div>
            </div>
            <div class="menu-icon d-flex align-items-center">
                <div class="menu-txt-btn">
                    <span class="menu-txt" data-hover="open">Menu</span>
                    <span class="close-txt">Close</span>
                </div>
                <div class="icon d-flex justify-content-center align-items-center parallax-item">
                    <div class="bar-content">
                        <span class="top-bar"></span>
                        <span class="bottom-bar"></span>
                    </div>
                </div>
            </div>
            <nav class="main-nav d-flex align-items-center">
                <center>
                    <div class="menu-bg-title" id="menutext">Menu</div>
                    <ul class="menu-content list-unstyled p-relative d-flex flex-column justify-content-center w-100 h-100">
                        <li onmouseover="newmenutext('Home')">
                            <a href="/">
                                <span class="menu-title">Home</span>
                                <span class="menu-number">-</span>
                            </a>
                        </li>
                        <li onmouseover="newmenutext('About')">
                            <a href=" /about ">
                                <span class="menu-title ">About</span>
                                <span class="menu-number ">-</span>
                            </a>
                        </li>
                        <li onmouseover="newmenutext( 'Services') ">
                            <a href="/services ">
                                <span class="menu-title ">Services</span>
                                <span class="menu-number ">-</span>
                            </a>
                        </li>
                        <li onmouseover="newmenutext( 'Portfolio') ">
                            <a href=" /portfolio ">
                                <span class="menu-title ">Portfolio</span>
                                <span class="menu-number ">-</span>
                            </a>
                        </li>

                        <li onmouseover="newmenutext('Contact')">
                            <a href=" /contact ">
                                <span class="menu-title ">Contact</span>
                                <span class="menu-number ">-</span>
                            </a>
                        </li>
                        <li onmouseover="newmenutext( 'Resume') ">
                            <a href="assets/Profile.pdf ">
                                <span class="menu-title ">Resume</span>
                                <span class="menu-number ">-</span>
                            </a>
                        </li>
                    </ul>
                </center>
            </nav>
        </div>
    </div>

    <!-- ========== End Navbar ========== -->

    <!-- ========== Start Header ========== -->

    <div class="workpage">
        <div class="workflow">

            <div class="workflow-header">
                <div class="w-slash"></div>
                <div class="w-head">Workflow</div>
            </div>
            <div class="workflow-content">
                <div class="workflow-numbers">
                    <span>01.</span>
                    <div class="joinbands"></div>
                    <span>02.</span>
                    <div class="joinbands"></div>
                    <span>03.</span>
                    <div class="joinbands"></div>
                    <span>04.</span>
                </div>
                <div class="workflow-big">
                    <div class="workflow-item">

                        <div class="img-brac-w"><img src='assets/images/icons/idea.png'></div>
                        <div class="w-title">Problem</div>
                        <div class="w-desc">Analyzing and Understanding the problem</div>
                    </div>

                    <div class="workflow-item">

                        <div class="img-brac-w"><img src='assets/images/icons/think.png'></div>
                        <div class="w-title">Ideate</div>
                        <div class="w-desc">Work through the problem manually. Simplify and Optimize the steps then identify a recurrence relation</div>
                    </div>

                    <div class="workflow-item">

                        <div class="img-brac-w"><img src='assets/images/icons/puzzle.png'></div>
                        <div class="w-title">Define</div>
                        <div class="w-desc">Identify the base cases, Write pseudocode, Test small inputs</div>
                    </div>

                    <div class="workflow-item">

                        <div class="img-brac-w"><img src='assets/images/icons/pack-code.png'></div>
                        <div class="w-title">Implement</div>
                        <div class="w-desc">Translate pseudocode into code and debug. Finalize</div>
                    </div>
                </div>


            </div>
        </div>
        <div class="workflow">

            <div class="workflow-header">
                <div class="w-slash"></div>
                <div class="w-head">Services</div>
            </div>
            <div class="service-content">
                <div class="service-item">
                    <div class="workflow-item">

                        <div class="img-brac-w"><img src='assets/images/icons/5.png'></div>
                        <div class="w-title">Machine Learning Development</div>
                        <div class="w-desc">Equipped with skills to efficiently deploy ML Models using various machine learning algorithms to devise new methods and algorithms to meet predetermined functionality goals. Exploratory data analysis skills, Sanitizing and cleaning
                            Data. Creating graphical representations for visualizing the distribution of a dataset. Deploying models to live servers as APIs.</div>
                    </div>
                    <div class="workflow-item">
                        <div class="img-brac-w"><img src='assets/images/icons/1.png'></div>
                        <div class="w-title">API Development</div>
                        <div class="w-desc">Skilled at designing cross platform based APIs which are server compatible using Service-oriented architecture (SOA), or integration to efficiently build the system. Exprienced at developing API's using vast number of frameworks;
                            Python-Flask, Python-FastAPI, NodeJS and Testing with PHP, Symfony2, Python-Requests and Apache JMeter. Adding metrics using Database Systems like Sqlite3, MYSQl and MONGODB. Also Experienced using Google APIs </div>
                    </div>
                    <div class="workflow-item">
                        <div class="img-brac-w"><img src='assets/images/icons/3.png'></div>
                        <div class="w-title">Fullstack Development</div>
                        <div class="w-desc">Worked with a number of startups,companies and on projects as a Frontend Designer, likewise as a Backend Developer and Cloud Engineer. Skilled at designing the clientside of website/application. Developing the server side of an
                            application which entails the core functionality of the application. Using Database Systems like MONOGB,MARIADB and MYSQL (PHPMYADMIN) to efficiently make the application dynamic and functional.
                        </div>
                    </div>
                    <div class="workflow-item">
                        <div class="img-brac-w"><img src='assets/images/icons/6.png'></div>
                        <div class="w-title">Cloud Deployment</div>
                        <div class="w-desc">Skilled and Experienced at deploying Web Application, Microservices and API's on Live Servers like, AWS, AZURE, Hostinger, Heroku and Vercel. Containerization of applications with Docker. Running servers via Virtual Machines. Deploying
                            ML Models using GCP (Google Cloud Platform).</div>
                    </div>
                    <div class="workflow-item">
                        <div class="img-brac-w"><img src='assets/images/icons/7.png'></div>
                        <div class="w-title">Algorithm Design & Development</div>
                        <div class="w-desc">Developing and Designing computational friendly abstract algorithms to solve predetermined problems. Python is my prefered language for solving algorithmic based problems.</div>
                    </div>
                    <div class="workflow-item">
                        <div class="img-brac-w"><img src='assets/images/icons/4.png'></div>
                        <div class="w-title">Packages/Modules/Plugins</div>
                        <div class="w-desc">Exprienced at Developing Python Packages and Modules, Node Modules, Chrome Extensions and PHP Plugins. </div>
                    </div>
                    <div class="workflow-item">
                        <div class="img-brac-w"><img src='assets/images/icons/2.png'></div>
                        <div class="w-title">Version Control</div>
                        <div class="w-desc">Experienced at using Version Control tools such as GIT and GITHUB to efficiently manage collaborations between multiple developers on projects</div>
                    </div>
                </div>
                <center>
                    <div style="padding-top: 0;" class="slideshow__slide-caption-text">
                        <a class="slideshow__slide-btn align-items-center" href="/portfolio">
                            <span class="btn-content d-flex align-items-center">
                        <span class="btn-circles">
                            <span class="btn-circle"></span>
                            <span class="btn-small-circle d-flex">
                                 
                            </span>
                            </span>
                            <span class="btn-txt">Projects</span>
                            </span>
                        </a>
                    </div>
                </center>



            </div>
        </div>

    </div>

    <!-- ========== End Header ========== -->

    <div class="content">

        <!-- ========== End Gallery Section ========== -->

        <!-- ========== Start Services Section ========== -->





    </div>

    <!-- ========== Start Footer Section ========== -->


    <!-- ========== Start Scroll To Top Section ========== -->

    <div class="progress-parent">
        <svg class="progress-circle" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
            </svg>
    </div>

    <!-- ========== End Scroll To Top Section ========== -->

    <!-- ========== Js ========== -->

    <!-- Jquery -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <!-- popper -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Libs and Plugins JS -->
    <script src="assets/js/gsap/gsap.min.js"></script>
    <script src="assets/js/gsap/ScrollToPlugin.min.js"></script>
    <script src="assets/js/gsap/ScrollTrigger.min.js"></script>
    <!-- Owl Carousel js -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Bootstrap js -->
    <script src="assets/js/magnific-popup.min.js"></script>
    <!-- Preloader -->
    <script src="assets/js/preloader.js"></script>
    <!-- Scroll To Top js -->
    <script src="assets/js/scrolltotop.js"></script>
    <!-- Main custom-->
    <script src="assets/js/custom.js"></script>

</body>